.Course {
  position: relative;
  color: #3b3e66;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  margin: 1rem 3rem 3rem 3rem;
  background-color: #fff;
  box-shadow: 0 0.313rem 0.8rem rgba(122, 123, 151, 0.5),
    0 0.126rem 0.225rem rgba(122, 123, 151, 0.3);
}

.Course .Caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 0 20px;
  margin: 10px 0 25px 0;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  white-space: nowrap;
}

.Course .Caption .CaptionSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.InfoForm {
  padding: 0 2%;
}

.Course label {
  margin-left: 2px;
  font-weight: bold;
}

.InputDiv {
  margin-bottom: 1rem;
}

.InputDiv label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.InputGroup {
  display: flex;
}

.InputGroup div {
  width: 100%;
  margin-right: 10px;
}

.InputGroup div:last-child {
  margin-right: 0px;
}

.ButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.ButtonDiv button {
  margin-left: 25px;
}

.ButtonDiv button:nth-child(1) {
  margin-left: 0;
}

.Course hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(204, 204, 204, 0),
    rgba(204, 204, 204, 0.75),
    rgba(204, 204, 204, 0)
  );
}

/* Table Starts */

.Course table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.Course table thead {
  border-top: 2px solid rgba(7, 9, 25, 0.125);
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
  background-color: #f4f5fd;
}

.Course table tbody tr {
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  border-bottom: 1px solid rgba(7, 9, 25, 0.125);
}

.Course table tbody tr td {
  padding: 15px;
}

.onRowHoverEffect:hover {
  background-color: #f4f5fd;
}
.onRowHoverEffect td {
  position: relative;
}
.onRowHoverEffect:hover td:first-child::before {
  content: '';
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 4px solid #3b3e66;
}

.Course table th {
  padding: 20px 0;
}

.Course table tfoot {
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
}

/* Table Ends */

.InputGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.CheckBoxes {
  width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Modal Starts */

.Modal {
  background-color: #fff;
  width: 600px;
  color: #3b3e66;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
}

.ModalBody {
  padding: 50px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ModalContent {
  width: 100%;
  text-align: center;
}

.ModalContentTitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  pointer-events: none;
  white-space: nowrap;
}
