.Login {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'LeftAuth RightAuth';
}

.RightLogin {
  grid-area: RightAuth;
  color: #ffffff;
  background-color: #112239;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.LeftLogin {
  background-color: #ffffff;
  grid-area: LeftAuth;
  display: flex;
  flex-direction: column;
  align-items: center; /* vertically - Cross Axis */
  justify-content: center; /* horizontally - Main Axis */
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center; /* vertically - Cross Axis */
  justify-content: center; /* horizontally - Main Axis */
}

.Forget {
  font-size: 14px;
  font-weight: 600;
  color: #0366d6;
  cursor: pointer;
}
