.Login {
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.Form {
  width: 25.45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3% 4%;
  box-shadow: 0 0.313rem 0.8rem rgba(122, 123, 151, 0.5),
    0 0.126rem 0.225rem rgba(122, 123, 151, 0.3);
  clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
}

.Forget {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0366d6;
  cursor: pointer;
}

.Forget:hover {
  text-decoration: underline;
}

.InputGroup div {
  width: 100%;
}

.InputDiv label {
  display: inline-block;
  margin-top: 1.3rem;
  margin-bottom: 0.35rem;
  font-size: 0.95rem;
  font-weight: bold;
}

.ButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.563rem 0;
}

.ButtonDiv button {
  margin-left: 1.563rem;
}

.ButtonDiv button:nth-child(1) {
  margin-left: 0;
}
