.CoursesMonitoring {
  position: relative;
  text-align: center;
}

.CoursesMonitoringHeader {
  max-width: 100%;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  text-align: center;
}

.CoursesMonitoringArea {
  color: #525f7f;
  background-color: #fff;
  max-width: 100%;
  margin: 1rem 3rem 3rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
}

/* Table Starts */

.CoursesMonitoringArea table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.CoursesMonitoringArea caption {
  text-align: start;
  padding: 20px;
}

.CoursesMonitoringArea table thead {
  border-top: 2px solid rgba(7, 9, 25, 0.125);
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
  background-color: #f4f5fd;
}

.CoursesMonitoringArea table tbody tr {
  border-bottom: 1px solid rgba(7, 9, 25, 0.125);
}

.CoursesMonitoringArea table tbody .CoursesMonitoringTableRow:hover {
  background-color: #f4f5fd;
}

.CoursesMonitoringArea table tbody tr td {
  padding: 0;
}

.CoursesMonitoringArea table tbody tr td:nth-child(3) {
  text-align: left;
}

.CoursesMonitoringArea table tbody tr td p {
  margin: 0;
}

.CoursesMonitoringArea table tbody button:nth-child(1) {
  margin-right: 15px;
}

.CoursesMonitoringArea th,
.CoursesMonitoringArea td {
  padding: 20px;
}

.CoursesMonitoringArea table tfoot {
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
}

/* Table Ends */

.buttonDiv {
  margin-bottom: 25px;
}
