.Forget {
  background: #f8f9ff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* vertically - Cross Axis */
  justify-content: center; /* horizontally - Main Axis */
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogIn {
  color: blue;
  cursor: pointer;
}

.LogIn:hover {
  text-decoration: underline;
}
