.Input[type='time'],
.Input[type='date'],
.Input[type='text'] {
  display: inline-block;
  color: #3b3e66;
  background-color: #fff;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  text-align: center;
}

.Input:focus,
textarea:focus {
  outline: 0;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
}

.Input[type='time']::-webkit-clear-button,
.Input[type='date']::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* ::placeholder {
  font-weight: bold;
  color: #dedfe5;
  opacity: 1; /* Firefox */
/* } */

/* :-ms-input-placeholder { */
/* Internet Explorer 10-11 */
/* color: #dedfe5;
  font-weight: bold;
} */

/* ::-ms-input-placeholder { */
/* Microsoft Edge */
/* color: #dedfe5; */
/* font-weight: bold; */
/* } */

.Input::placeholder {
  font-size: 1em;
}
