.SelectInput {
  display: block;
  box-sizing: border-box;
  color: #3b3e66;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 0.95rem;
  font-weight: 400;
  padding: 0.6rem 0.8rem;
  border: 1px solid rgb(208, 220, 221);
  border-radius: 3px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.SelectInput:focus {
  border-color: #9297da;
  outline: 0;
  box-shadow: 0 0.313rem 0.719rem rgba(122, 123, 151, 0.1),
    0 0.156rem 0.125rem rgba(164, 165, 190, 0.06);
}

.SelectInput::-ms-expand {
  display: none;
}

.SelectInput option {
  color: #3b3e66;
}
