.Grading {
  position: relative;
  color: #3b3e66;
  text-align: center;
  max-width: 100%;
  margin: 1rem 3rem 3rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: 0 0.313rem 0.8rem rgba(122, 123, 151, 0.5),
    0 0.126rem 0.225rem rgba(122, 123, 151, 0.3);
}

.Grading .Caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  margin: 10px 0 25px 0;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  white-space: nowrap;
}

.Grading .Caption .CaptionSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Table Starts */

.Grading table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.Grading table thead {
  border-top: 2px solid rgba(7, 9, 25, 0.125);
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
  background-color: #f4f5fd;
}

.Grading table tbody tr {
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  border-bottom: 1px solid rgba(7, 9, 25, 0.125);
}

.Grading table tbody tr td {
  padding: 15px;
}

.Grading table th {
  padding: 20px 0;
}

.Grading table tfoot {
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
}

.CourseTitle {
  cursor: pointer;
}

/* Table Ends */

.ButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.ButtonDiv button {
  margin-left: 25px;
}

.ButtonDiv button:nth-child(1) {
  margin-left: 0;
}

.TabsButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

.TabsButtons .Button {
  display: inline-block;
  box-sizing: border-box;
  color: #3b3e66;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.53rem 2rem;
  font-size: 0.95rem;
  line-height: 1.5;
  cursor: pointer;
}

/* .Grading .InputTD {
  padding: 0;
  padding-top: 1.6rem;
} */

.Grading .MarksInput {
  /* display: block; */
  /* box-sizing: border-box; */
  /* width: 100%; */
  /* height: 100%; */
  color: #3b3e66;
  background-color: rgb(243, 243, 243);
  font-family: inherit;
  font-size: 0.95rem;
  /* font-weight: 700; */
  text-align: center;
  border: 0;
  border-bottom: 1px solid #ccc;
  /* margin-bottom: 2px; */
  outline: 0;
}

.Grading .MarksInput[type='number']::-webkit-inner-spin-button {
  display: none;
}
