.input {
  display: block;
  color: #3b3e66;
  background-color: #fff;
  width: 100%;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.53rem 1rem;
  border: 1px solid #d1d2db;
  border-radius: 0.29rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
  border-color: #9297da;
  outline: 0;
  box-shadow: 0 0.313rem 0.719rem rgba(122, 123, 151, 0.1),
    0 0.156rem 0.125rem rgba(122, 123, 151, 0.06);
}

::placeholder {
  font-weight: bold;
  color: #dedfe5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dedfe5;
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dedfe5;
  font-weight: bold;
}
