.input[type='color'],
.input[type='date'],
.input[type='datetime-local'],
.input[type='datetime'],
.input[type='email'],
.input[type='month'],
.input[type='number'],
.input[type='password'],
.input[type='search'],
.input[type='tel'],
.input[type='text'],
.input[type='time'],
.input[type='url'],
.input[type='week'],
.input[type='submit'],
.input[type='checkbox'],
.input[type='file'],
.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: #3b3e66;
  background-color: rgb(255, 255, 255);
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.53rem 1rem;
  border: 1px solid rgb(208, 220, 221);
  border-radius: 3px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
  border-color: #9297da;
  outline: 0;
  box-shadow: 0 0.313rem 0.719rem rgba(122, 123, 151, 0.1),
    0 0.156rem 0.125rem rgba(122, 123, 151, 0.06);
}

.input:disabled {
  cursor: not-allowed;
}

input[type='date']::-webkit-datetime-edit {
  font-weight: bold;
  color: #dedfe5;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
}

input[type='date']:invalid::-webkit-datetime-edit {
  color: #dedfe5;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type='time']::-webkit-clear-button,
input[type='date']::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  /* margin: -10px; */
}

::placeholder {
  font-weight: bold;
  color: #dedfe5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dedfe5;
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dedfe5;
  font-weight: bold;
}
