.Sidebar {
  grid-area: sidebar;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 250px;
  width: 100%;
  padding: 1rem 0 0 0;
  margin: 0;
  background-color: #fff;
  border-width: 0 1px 0 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.SidebarBrand {
  display: block;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: inherit;
  white-space: nowrap;
  padding-bottom: 1rem;
  text-align: center;
}

.Sidebar .SidebarBrandImg,
.Sidebar .SidebarBrand > img {
  max-width: 100%;
  max-height: 2.5rem;
  border-style: none;
}

.SidebarNav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 26px;
}

.SidebarNavLink {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  padding: 0.65rem 1.5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.SidebarNavLink:hover {
  color: rgba(0, 0, 0, 0.7);
}

.SidebarNavLink svg {
  margin-right: 16px;
  color: #5e72e4;
  min-height: 15.5px;
  max-height: 15.5px;
  min-width: 15.5px;
  max-width: 15.5px;
}

.SidebarNavTitle {
  font-size: 0.75rem;
  color: #8898aa;
  margin: 0px 0px 8px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  line-height: 1.5;
  pointer-events: none;
}

.SidebarNavHr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 200px;
}
