.Footer {
  grid-area: footer;
  position: relative;
  height: 47px;
  padding: 0 2.5rem;
  /* background-color: #fff; */
  background-color: #f8f9ff;
  /* z-index: 1;
  box-shadow: inset 5px 0 5px -5px rgba(136,152,170,.15); */
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.FooterNavSpan {
  font-weight: bold;
  text-transform: uppercase;
}

.FooterNav {
  list-style: none;
  font-size: 12px;
  color: #777777;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center; /* vertically  */
  justify-content: flex-start; /* horizontally  */
}

.FooterNavItem {
  margin: 0 10px;
}

.FooterNavItem a {
  text-decoration: none;
  color: #777777;
}

.FooterNavItem a:hover,
.FooterNavItem a:active {
  text-decoration: none;
}
