.Button {
  display: inline-block;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #3b3e66;
  padding: 0.1em 0.4em;
  border: 2px solid transparent;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.Button .tooltiptext {
  position: absolute;
  top: -35px;
  left: -47px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  pointer-events: none;
}

.Button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.Button:disabled .tooltiptext {
  visibility: hidden;
  opacity: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}
