.Papers {
  position: relative;
  color: #3b3e66;
  text-align: center;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  margin: 1rem 3rem 3rem 3rem;
  background-color: #fff;
  box-shadow: 0 0.313rem 0.8rem rgba(122, 123, 151, 0.5),
    0 0.126rem 0.225rem rgba(122, 123, 151, 0.3);
}

.Papers .Caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  margin: 10px 0 25px 0;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  white-space: nowrap;
}

.Papers .Caption .CaptionSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Table Starts */

.Papers table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.Papers table thead {
  border-top: 2px solid rgba(7, 9, 25, 0.125);
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
  background-color: #f4f5fd;
}

.Papers table tbody tr {
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  border-bottom: 1px solid rgba(7, 9, 25, 0.125);
}

.Papers table tbody tr td {
  padding: 15px;
}

.Papers table th {
  padding: 20px 0;
}

.Papers table tfoot {
  border-bottom: 2px solid rgba(7, 9, 25, 0.125);
}

.CourseTitle {
  cursor: pointer;
}

/* Table Ends */

.ButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.ButtonDiv button {
  margin-left: 25px;
}

.ButtonDiv button:nth-child(1) {
  margin-left: 0;
}

.Modal {
  background-color: #fff;
  width: 600px;
  color: #3b3e66;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
}

.ModalBody {
  padding: 50px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ModalContent {
  width: 100%;
}

.ModalContentTitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  pointer-events: none;
  white-space: nowrap;
}

/* Add Assignment */

.InputGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

/* .InputGroup * { */
.InputGroup :nth-child(2) {
  max-width: 80%;
}
