.ErrorBoundary {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.ErrorBoundaryContent {
  box-sizing: border-box;
  width: 680px;
  padding: 10px 10px;
  color: #fff;
  background-color: rgba(255, 0, 0, 1);
  box-shadow: 0 0.313rem 0.719rem rgba(255, 0, 0, 1),
    0 0.156rem 0.125rem rgba(255, 0, 0, 1);
}

.ErrorBoundary hr {
  margin: 10px 0;
}
