.App {
  margin: 0;
  padding: 0;
}

/* Sidebar Starts */

.navbar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 250px;
  width: 100%;
  padding: 1rem 0;
  background-color: #fff !important;
  border-width: 0 1px 0 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.navbar-brand {
  display: block;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: inherit;
  white-space: nowrap;
  padding-bottom: 1rem;
  text-align: center;
}

.navbar .navbar-brand-img,
.navbar .navbar-brand > img {
  max-width: 100%;
  max-height: 2.5rem;
  border-style: none;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 26px;
}

.nav-link {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  padding: 0.65rem 1.5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-link svg {
  margin-right: 18px;
  color: yellowgreen;
}

.nav-title {
  font-size: 0.75rem;
  color: #8898aa;
  margin: 0px 0px 8px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  line-height: 1.5;
  pointer-events: none;
}

.nav-hr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 200px;
}

/* Sidebar Ends */

/* Page Starts*/

.main-content {
  position: relative;
  margin-left: 250px;
  color: #fff;
  min-height: 378px;
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

/* Header Starts */

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: transparent;
}

.header-navbar {
  padding: 1rem 1rem;
}

.header-nav {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav li:last-child {
  margin-right: 30px;
}

.header-nav-item {
  margin: 0px 15px;
  cursor: pointer;
}

.header-nav-item svg {
  font-size: 18px;
}

.header-nav-item-float {
  margin-right: 20px;
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
}

.header-nav-item-switch {
  font-size: 0.8rem;
  color: floralwhite;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  pointer-events: none;
}

/* Toggler Starts */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Toggler Ends */

/* Header Ends */

/* Page Ends */
/* font-size: calc(10px + 2vmin); */
