.CMS {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    'sidebar app'
    'sidebar footer';
  grid-template-columns: 250px auto;
  grid-template-rows: auto 47px;
}

.mainContent {
  grid-area: app;
  position: relative;
  color: #fff;
  min-height: 95vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5e72e4+0,825ee4+36,825ee4+36,825ee4+36,f4f6fb+36,f4f6fb+36,f4f6fb+100 */
  background: #f8f9ff;
  /* background: #48cfad;  */
  /* background: #fff; */
  /* background: #5e72e4; Old browsers */
  /* background: -moz-linear-gradient(
    top,
    #5e72e4 0%,
    #825ee4 36%,
    #825ee4 36%,
    #825ee4 36%,
    #f4f6fb 36%,
    #f4f6fb 36%,
    #f4f6fb 100%
  );  */
  /* FF3.6-15 */
  /* background: -webkit-linear-gradient(
    top,
    #5e72e4 0%,
    #825ee4 36%,
    #825ee4 36%,
    #825ee4 36%,
    #f4f6fb 36%,
    #f4f6fb 36%,
    #f4f6fb 100%
  );  */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(
    to bottom,
    #5e72e4 0%,
    #825ee4 36%,
    #825ee4 36%,
    #825ee4 36%,
    #f4f6fb 36%,
    #f4f6fb 36%,
    #f4f6fb 100%
  );  */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* background: -moz-linear-gradient(
    top,
    #5e72e4 0px,
    #825ee4 250px,
    #825ee4 350px,
    #825ee4 370px,
    #f4f6fb 371px,
    #f4f6fb 371px,
    #f4f6fb 100%
  ); FF3.6-15 */
  /* background: -webkit-linear-gradient(
    top,
    #5e72e4 0px,
    #825ee4 250px,
    #825ee4 350px,
    #825ee4 370px,
    #f4f6fb 371px,
    #f4f6fb 371px,
    #f4f6fb 100%
  ); Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(
    to bottom,
    #5e72e4 0px,
    #825ee4 250px,
    #825ee4 350px,
    #825ee4 370px,
    #f4f6fb 371px,
    #f4f6fb 371px,
    #f4f6fb 100%
  ); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e72e4', endColorstr='#f4f6fb',GradientType=0 ); IE6-9 */
}
